/* global style sheet */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media(min-width:1200px){


/* 
====================
this is head section
====================
 */


 .head1{
     width: 100%;
     height: 60px;
     background-color: #316dc3;
}

.icon{
    width: 220px;
}

.icon>a>img{
    width: 24px;
    display: inline-block;
    margin: 20px 8px 0px 8px;
    padding: 3px;
}
.imgs:hover{
    border: 1px solid #4f8de4;
    background-color: #4f8de4;
}
.hpera{
    text-align: center;
    position: relative;
    bottom: 20px;
    color: white;
}

.box{
    position: absolute;
    right: 8px;
    top: 20px;
}



/* 
====================
this is nave bar
====================
 */



 nav{
     width: 100%;
     height:70px;
     background-color: #f7f8fa;
 }

 nav>ul{
     display: inline-block;
 }

ul>a{
     display: inline-block;
     text-decoration: none;
 }

ul>a>li{
     list-style: none;
     color: #333333;
     padding:8px 15px ;
     margin-top: 15px;
}

.home{
    border-radius: 25px ;
    background-color: #316dc3;
    border: 1px solid #316dc3;
    color: white;
}

li:hover{
    border-radius: 25px;
    background-color: #316dc3;
    color: white;
    transition: all 0.7s;
}

.nav-wrep{
    position: absolute;
    right: 40px;
}

.logo{
    width: 220px;
    float: left;
    margin-left: 30px;
}



/* 
======================
this is poster section
======================
 */



.poster{
    text-align: center;
}

.poster>img{
    width: 100%;   
}



/* 
======================
this is intro
======================
 */

.span{
    color: #427900;
}

 .intro{
     text-align: center;
     background-color: #f7f8fa;
     width: 100%;
}
.introhed{
    font-size: 3.5em;
    padding-top: 30px;
    color:#316dc3 ;
}

 .peraintro{
     width: 70%;
     text-align: left;
     text-align: justify;
     margin: 40px auto 30px auto;
     color: #333333;
}





/* 
======================
this is gool section
======================
 */


.gool{
    width: 100%;
    height: 340px;
    background-color: #316dc3;
}

.goolwrep{
    width: 90%;
    text-align: center;
    margin: auto;
}
 .colimg{
     width: 40px;
}

 .col{
     display: inline-block;
     margin: 110px 15px 50px 15px;
     color: white;
 }


 span{
    color: #00ff00;
 }



/* 
======================
this is doing section
======================
 */



.colimg1{
    width: 70px;
}


.doing{
    text-align: center;
    width: 100%;
    background-color: #f7f8fa;
}


.hdoing{
    padding-top: 70px;
}

.doingwrep{
    padding-top: 50px;
    margin: auto ;
    width: 90%;
    text-align: center;
    background-color:#f7f8fa ;
}
.docol{
    width: 250px;
    height: 150px;
    text-align: center;
    float: left;
    box-shadow: 0px 0px 20px #aaaaaa;
    margin: 20px;
}

.colimg1{
    padding-top: 30px;
}

.colimg2{
    padding-top: 10px;
}

.mition{
    clear: both;
}



/* 
======================
this is mition section
======================
 */



 .miimg{
     width: 20px;
     margin-left: 10px;
 }

 .mition{
     width: 100%;
 }

 .mition h2{
     padding-left: 80px;
     padding-top: 50px;
     color: #316dc3;
 }

.mitioncol1{
    width: 550px;
    margin: 60px 10px 10px 30px;
    float: left;
}

.mitioncol{
    background-color: rgb(236, 234, 234);
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    float: left;
    margin: 10px 0px 10px 10px;
    font-weight: bold;
}

.mi{
    color: #316dc3;
    padding-left: 10px;
}


.mitioncol2{
    width: 380px;
    float: right;
    text-align: justify;
    margin: 0px 20px 20px 10px;
}

.mitioncol2 h2{
    position: relative;
    bottom: 50px;
    color: #316dc3;
}

.mitioncol2 p{
    padding: 20px;
}

.mition::after{
    content: "";
    display: block;
    clear: both;
}



/* 
======================
this is images
======================
 */


.imageg{
    width: 100%;
    height: 400px;
    text-align: center;
}

.imageg img{
    width: 170px;
}

.imageg h1{
    padding: 50px 0px 70px 0px;
    color: #316dc3;
}




/* 
======================
this is contect section
======================
 */




.contect{
    width: 100%;
    height: 300px;
    background-color: #25272e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.det{
    color:#a4a4a6;
}
.detail img{
    width: 10px;
}

.detailsec{
    margin-top: 15px;
}

.detail{
    margin: 10px;
}
.dso img{
    width: 30px;
    margin: 10px;
}

.useful{
    height: 200px;
}

.useful h2{
    border-bottom: 2px solid blueviolet;
}
.contectus{
    height: 200px;
}

.contectus h2{
    border-bottom: 2px solid blueviolet;
}

/* this is end */

.end{
    width: 100%;
    height: 30px;
    background-color: #316dd9;
    color:#a4a4a6;
    line-height: 30px;
}

.end h4{
    padding-left: 50px;
}


.upside{
   width: 40px;
   position: fixed;
   right: 10px;
   bottom: 10px;
}

}

@media(min-width:992px) and (max-width:1199px){




    
/* 
====================
this is head section
====================
 */


 .head1{
    width: 100%;
    height: 60px;
    background-color: #316dc3;
}

.icon{
   width: 220px;
}

.imgs{
   width: 24px;
   display: inline-block;
   margin: 20px 8px 0px 8px;
   padding: 3px;
}
.imgs:hover{
   border: 1px solid #4f8de4;
   background-color: #4f8de4;
}
.hpera{
   text-align: center;
   position: relative;
   bottom: 20px;
   color: white;
}

.box{
   position: absolute;
   right: 8px;
   top: 20px;
}



/* 
====================
this is nave bar
====================
*/



nav{
    width: 100%;
    height:70px;
    background-color: #f7f8fa;
}

nav>ul{
    display: inline-block;
}

ul>a{
    display: inline-block;
    text-decoration: none;
}

ul>a>li{
    list-style: none;
    color: #333333;
    padding:8px 15px ;
    margin-top: 15px;
}

.home{
   border-radius: 25px ;
   background-color: #316dc3;
   border: 1px solid #316dc3;
   color: white;
}

li:hover{
   border-radius: 25px;
   background-color: #316dc3;
   color: white;
   transition: all 0.7s;
}

.nav-wrep{
   position: absolute;
   right: 40px;
}

.logo{
   width: 220px;
   float: left;
   margin-left: 30px;
}



/* 
======================
this is poster section
======================
*/



.poster{
   text-align: center;
}

.poster>img{
   width: 100%;   
}



/* 
======================
this is intro
======================
*/

.span{
   color: #427900;
}

.intro{
    text-align: center;
    background-color: #f7f8fa;
    width: 100%;
}
.introhed{
   font-size: 3.5em;
   padding-top: 30px;
   color:#316dc3 ;
}

.peraintro{
    width: 70%;
    text-align: left;
    text-align: justify;
    margin: 40px auto 30px auto;
    color: #333333;
}





/* 
======================
this is gool section
======================
*/


.gool{
   width: 100%;
   height: 340px;
   background-color: #316dc3;
}

.goolwrep{
   width: 90%;
   text-align: center;
   margin: auto;
}
.colimg{
    width: 40px;
}

.col{
    display: inline-block;
    margin: 110px 15px 50px 15px;
    color: white;
}


span{
   color: #00ff00;
}



/* 
======================
this is doing section
======================
*/



.colimg1{
   width: 70px;
}


.doing{
   text-align: center;
   width: 100%;
   background-color: #f7f8fa;
}


.hdoing{
   padding-top: 70px;
}

.doingwrep{
   padding-top: 50px;
   margin: auto ;
   width: 90%;
   text-align: center;
   background-color:#f7f8fa ;
}
.docol{
   width: 250px;
   height: 150px;
   text-align: center;
   float: left;
   box-shadow: 0px 0px 20px #aaaaaa;
   margin: 20px;
}

.colimg1{
   padding-top: 30px;
}

.colimg2{
   padding-top: 10px;
}

.mition{
   clear: both;
}



/* 
======================
this is mition section
======================
*/



.miimg{
    width: 20px;
    margin-left: 10px;
}

.mition{
    width: 100%;
}

.mition h2{
    padding-left: 80px;
    padding-top: 50px;
    color: #316dc3;
}

.mitioncol1{
   width: 550px;
   margin: 60px 10px 10px 30px;
   float: left;
}

.mitioncol{
   background-color: rgb(236, 234, 234);
   width: 250px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: left;
   float: left;
   margin: 10px 0px 10px 10px;
   font-weight: bold;
}

.mi{
   color: #316dc3;
   padding-left: 10px;
}


.mitioncol2{
   width: 370px;
   float: right;
   text-align: justify;
   margin: 0px 20px 20px 10px;
}

.mitioncol2 h2{
   position: relative;
   bottom: 50px;
   color: #316dc3;
}

.mitioncol2 p{
   padding: 20px;
}

.mition::after{
   content: "";
   display: block;
   clear: both;
}



/* 
======================
this is images
======================
*/


.imageg{
   width: 100%;
   height: 400px;
   text-align: center;
}

.imageg img{
   width: 170px;
}

.imageg h1{
   padding: 50px 0px 70px 0px;
   color: #316dc3;
}




/* 
======================
this is contect section
======================
*/




.contect{
   width: 100%;
   height: 300px;
   background-color: #25272e;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.det{
   color:#a4a4a6;
}
.detail img{
   width: 10px;
}

.detailsec{
   margin-top: 15px;
}

.detail{
   margin: 10px;
}
.dso img{
   width: 30px;
   margin: 10px;
}

.useful{
   height: 200px;
}

.useful h2{
   border-bottom: 2px solid blueviolet;
}
.contectus{
   height: 200px;
}

.contectus h2{
   border-bottom: 2px solid blueviolet;
}

/* this is end */

.end{
   width: 100%;
   height: 30px;
   background-color: #316dd9;
   color:#a4a4a6;
   line-height: 30px;
}

.end h4{
   padding-left: 50px;
}


.upside{
   width: 40px;
   position: fixed;
   right: 10px;
   bottom: 10px;
}


}








@media(min-width:768px) and (max-width:991px){
    
/* 
====================
this is head section
====================
 */


 .head1{
    width: 100%;
    height: 130px;
    background-color: #316dc3;
}

.icon{
   width: 180px;
   display: inline-block;
}

.imgs{
   width: 24px;
   display: inline-block;
   margin: 20px 0px 0px 8px;
   padding: 3px;
}
.imgs:hover{
   border: 1px solid #4f8de4;
   background-color: #4f8de4;
}
.hpera{
    margin-top: 30px;
    width: 500px;
    float: right;
    display: inline-block;
   text-align: center;
   color: white;
}

.box{
   position: relative;
   top:30px;
   left: 270px;
   width: 300px;
}



/* 
====================
this is nave bar
====================
*/



nav{
    width: 100%;
    height:130px;
    background-color: #f7f8fa;
    text-align: center;
}

nav>ul{
    display: inline-block;
}

ul>a{
    display: inline-block;
    text-decoration: none;
}

ul>a>li{
    list-style: none;
    color: #333333;
    padding:8px 15px ;
    margin-top: 15px;
}

.home{
   border-radius: 25px ;
   background-color: #316dc3;
   border: 1px solid #316dc3;
   color: white;
}

li:hover{
   border-radius: 25px;
   background-color: #316dc3;
   color: white;
   transition: all 0.7s;
}

.nav-wrep{
   position: absolute;
   right: 40px;
}

.logo{
   width: 220px;
}



/* 
======================
this is poster section
======================
*/



.poster{
   text-align: center;
}

.poster>img{
   width: 100%;   
}



/* 
======================
this is intro
======================
*/

.span{
   color: #427900;
}

.intro{
    text-align: center;
    background-color: #f7f8fa;
    width: 100%;
}
.introhed{
   font-size: 3.5em;
   padding-top: 30px;
   color:#316dc3 ;
}

.peraintro{
    width: 70%;
    text-align: left;
    text-align: justify;
    margin: 40px auto 30px auto;
    color: #333333;
}





/* 
======================
this is gool section
======================
*/


.gool{
   width: 100%;
   height: 400px;
   background-color: #316dc3;
}

.goolwrep{
   width: 100%;
   text-align: center;
   margin: auto;
}
.colimg{
    width: 40px;
}

.col{
    display: inline-block;
    margin: 130px 10px;
    color: white;
}

.col h1{
    font-size: 1.5em;
}


.col h4{
    font-size: 0.9em;
}

span{
   color: #00ff00;
}



/* 
======================
this is doing section
======================
*/



.colimg1{
   width: 70px;
}


.doing{
   text-align: center;
   width: 100%;
   background-color: #f7f8fa;
   margin-left: 10px;
}


.hdoing{
   padding-top: 70px;
}

.doingwrep{
   text-align: center;
   margin-left: auto ;
   padding-top: 50px;
   width: 90%;
   background-color:#f7f8fa ;
}
.docol{
   width: 250px;
   height: 150px;
   text-align: center;
   float: left;
   box-shadow: 0px 0px 20px #aaaaaa;
   margin: 20px;
}

.colimg1{
   padding-top: 30px;
}

.colimg2{
   padding-top: 10px;
}

.mition{
   clear: both;
}



/* 
======================
this is mition section
======================
*/



.miimg{
    width: 20px;
    margin-left: 10px;
}

.mition{
    margin-left: 100px;
}

.mition h2{
    padding-left: 80px;
    padding-top: 90px;
    color: #316dc3;
}

.mitioncol1{
    text-align: center;
    margin: 70px 10px 10px 30px;
}

.mitioncol{
   background-color: rgb(236, 234, 234);
   width: 250px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: left;
   float: left;
   margin: 10px 0px 10px 10px;
   font-weight: bold;
}

.mi{
   color: #316dc3;
   padding-left: 10px;
}


.mitioncol2{
   width: 380px;
   text-align: justify;
   margin: 265px 0px 40px 100px;
}

.mitioncol2 h2{
   color: #316dc3;
}

.mitioncol2 p{
   padding: 20px;
}





/* 
======================
this is images
======================
*/


.imageg{
   width: 100%;
   height: 400px;
   text-align: center;
}

.imageg img{
   width: 170px;
}

.imageg h1{
   padding: 50px 0px 70px 0px;
   color: #316dc3;
}




/* 
======================
this is contect section
======================
*/




.contect{
   width: 100%;
   height: 300px;
   background-color: #25272e;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.det{
   color:#a4a4a6;
}
.detail img{
   width: 10px;
}

.detailsec{
   margin-top: 15px;
}

.detail{
   margin: 10px;
}
.dso img{
   width: 30px;
   margin: 10px;
}

.useful{
   height: 200px;
}

.useful h2{
   border-bottom: 2px solid blueviolet;
}
.contectus{
   height: 200px;
}

.contectus h2{
   border-bottom: 2px solid blueviolet;
}

/* this is end */

.end{
   width: 100%;
   height: 30px;
    background-color: #316dd9;
   color:#a4a4a6;
   line-height: 30px;
}

.end h4{
   padding-left: 50px;
}


.upside{
   width: 40px;
   position: fixed;
   right: 10px;
   bottom: 10px;
}

}




@media(min-width:425px) and (max-width:767px){
    
/* 
====================
this is head section
====================
 */


 .head1{
    width: 100%;
    height: 170px;
    background-color: #316dc3;
    text-align: center;
    margin: auto;
}

.icon{
   width: 180px;
   display: inline-block;
}

.imgs{
   width: 24px;
   display: inline-block;
   margin: 20px 0px 0px 8px;
   padding: 3px;
}
.imgs:hover{
   border: 1px solid #4f8de4;
   background-color: #4f8de4;
}
.hpera{
    margin-top: 30px;
    width: 400px;
   text-align: center;
   color: white;
}

.box{
    margin: 20px auto 10px auto;
   width: 300px;
}



/* 
====================
this is nave bar
====================
*/



nav{
    width: 100%;
    height:130px;
    background-color: #f7f8fa;
    text-align: center;
}

nav>ul{
    display: inline-block;
}

ul>a{
    display: inline-block;
    text-decoration: none;
}

ul>a>li{
    list-style: none;
    color: #333333;
    padding:8px 15px ;
}

.home{
   border-radius: 25px ;
   background-color: #316dc3;
   border: 1px solid #316dc3;
   color: white;
}

li:hover{
   border-radius: 25px;
   background-color: #316dc3;
   color: white;
   transition: all 0.7s;
}

.nav-wrep{
   position: absolute;
   right: 40px;
}

.logo{
   width: 220px;
}



/* 
======================
this is poster section
======================
*/



.poster{
   text-align: center;
   margin-top: 20px;
}

.poster>img{
   width: 100%;   
}



/* 
======================
this is intro
======================
*/

.span{
   color: #427900;
}

.intro{
    text-align: center;
    background-color: #f7f8fa;
    width: 100%;
}
.introhed{
   font-size: 2.7em;
   padding-top: 30px;
   color:#316dc3 ;
}

.peraintro{
    width: 70%;
    text-align: left;
    text-align: justify;
    margin: 40px auto 30px auto;
    color: #333333;
}





/* 
======================
this is gool section
======================
*/


.gool{
   width: 100%;
   height: 900px;
   background-color: #316dc3;
}

.goolwrep{
   width: 100%;
   text-align: center;
   margin: auto;
   padding-top: 20px;
}
.colimg{
    width: 40px;
}

.col{
    display:block;
    margin: 90px 10px;
    color: white;
}

.col h1{
    font-size: 1.8em;
}


.col h4{
    font-size: 1.1em;
}

span{
   color: #00ff00;
}



/* 
======================
this is doing section
======================
*/



.colimg1{
   width: 70px;
}


.doing{
   text-align: center;
   width: 100%;
   background-color: #f7f8fa;
   margin: auto;
}


.hdoing{
   padding-top: 90px;
}

.doingwrep{
   text-align: center;
   margin: auto;
   padding-top: 70px;
   width: 90%;
   background-color:#f7f8fa ;
}
.docol{
    display: block;
   width: 350px;
   height: 170px;
   text-align: center;
   box-shadow: 0px 0px 20px #aaaaaa;
   margin: 20px;
}

.colimg1{
   padding-top: 30px;
}

.colimg2{
   padding-top: 10px;
}

.mition{
   clear: both;
}



/* 
======================
this is mition section
======================
*/



.miimg{
    width: 20px;
    margin-left: 10px;
}

.mition{
    padding-left: 0px;
    text-align: center;
}

.mition h2{
    padding-left: 20px;
    padding-top: 90px;
    color: #316dc3;
    font-size: 1.4em;
}

.mitioncol1{
    text-align: center;
    margin: 70px 10px 10px 30px;
}

.mitioncol{
   background-color: rgb(236, 234, 234);
   width: 350px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: left;
   float: left;
   margin: 10px 0px 10px 10px;
   font-weight: bold;
}

.mi{
   color: #316dc3;
   padding-left: 10px;
}


.mitioncol2{
   width: 380px;
   text-align: justify;
   margin: 300px 0px 40px 30px;
}

.mitioncol2 h2{
   color: #316dc3;
}

.mitioncol2 p{
   padding: 20px;
}





/* 
======================
this is images
======================
*/


.imageg{
   width: 100%;
   height: 600px;
   text-align: center;
}

.imageg img{
   width: 170px;
}

.imageg h1{
   padding: 50px 0px 70px 0px;
   color: #316dc3;
}




/* 
======================
this is contect section
======================
*/




.contect{
   width: 100%;
   height: 700px;
   background-color: #25272e;
   color: white;
}

.det{
   color:#a4a4a6;
}
.detail img{
   width: 10px;
}

.detailsec{
   margin-top: 50px;
}

.detail{
   margin: 10px;
}
.dso img{
   width: 30px;
   margin: 10px;
}

.adres{
    padding-top: 30px;
    padding-left: 20px;
}

.useful{
   height: 200px;
}

.useful h2{
   border-bottom: 2px solid blueviolet;
}
.contectus{
   height: 200px;
}

.contectus h2{
   border-bottom: 2px solid blueviolet;
}

/* this is end */

.end{
   width: 100%;
   height: 30px;
   background-color: #316dd9;
   color:#a4a4a6;
   line-height: 30px;
}

.end h4{
   padding-left: 50px;
}

.upside{
   width: 40px;
   position: fixed;
   right: 10px;
   bottom: 10px;
}

}


@media(max-width:424px) and (min-width:360px){


    /* 
====================
this is head section
====================
 */


 .head1{
    width: 100%;
    height: 200px;
    background-color: #316dc3;
    text-align: center;
    margin: auto;
}

.icon{
   width: 180px;
   display: inline-block;
}

.imgs{
   width: 24px;
   margin: 20px 0px 0px 8px;
   padding: 3px;
}
.imgs:hover{
   border: 1px solid #4f8de4;
   background-color: #4f8de4;
}
.hpera{
    margin-top: 30px;
    width: 350px;
   text-align: center;
   color: white;
}

.box{
    margin: 20px auto 10px auto;
   width: 300px;
}



/* 
====================
this is nave bar
====================
*/



nav{
    width: 100%;
    height:150px;
    background-color: #f7f8fa;
    text-align: center;
}

nav>ul{
    display: inline-block;
}

ul>a{
    display: inline-block;
    text-decoration: none;
}

ul>a>li{
    list-style: none;
    color: #333333;
    padding:8px 15px ;
}

.home{
   border-radius: 25px ;
   background-color: #316dc3;
   border: 1px solid #316dc3;
   color: white;
}

li:hover{
   border-radius: 25px;
   background-color: #316dc3;
   color: white;
   transition: all 0.7s;
}

.nav-wrep{
   position: absolute;
   right: 40px;
}

.logo{
   width: 220px;
   padding-top: 5px;
}



/* 
======================
this is poster section
======================
*/



.poster{
   text-align: center;
   margin-top: 20px;
}

.poster>img{
   width: 100%;   
}



/* 
======================
this is intro
======================
*/

.span{
   color: #427900;
}

.intro{
    text-align: center;
    background-color: #f7f8fa;
    width: 100%;
}
.introhed{
   font-size: 2.7em;
   padding-top: 30px;
   color:#316dc3 ;
}

.peraintro{
    width: 70%;
    text-align: left;
    text-align: justify;
    margin: 40px auto 30px auto;
    color: #333333;
}





/* 
======================
this is gool section
======================
*/


.gool{
   width: 100%;
   height: 900px;
   background-color: #316dc3;
}

.goolwrep{
   width: 100%;
   text-align: center;
   margin: auto;
   padding-top: 20px;
}
.colimg{
    width: 40px;
}

.col{
    display:block;
    margin: 90px 10px;
    color: white;
}

.col h1{
    font-size: 1.8em;
}


.col h4{
    font-size: 1.1em;
}

span{
   color: #00ff00;
}



/* 
======================
this is doing section
======================
*/



.colimg1{
   width: 70px;
}


.doing{
   text-align: center;
   width: 100%;
   background-color: #f7f8fa;
   margin: auto;
}


.hdoing{
   padding-top: 90px;
   font-size: 1.7em;
}

.doingwrep{
   text-align: center;
   margin: auto;
   padding-top: 70px;
   width: 100%;
   background-color:#f7f8fa ;
}
.docol{
    display: block;
   width: 310px;
   height: 150px;
   text-align: center;
   box-shadow: 0px 0px 20px #aaaaaa;
   margin: 20px 0px 10px 25px;
}

.colimg1{
   padding-top: 30px;
}

.colimg2{
   padding-top: 10px;
}

.mition{
   clear: both;
}



/* 
======================
this is mition section
======================
*/



.miimg{
    width: 20px;
    margin-left: 10px;
}

.mition{
    padding-left: 0px;
    text-align: center;
}

.mition h2{
    padding-left: 20px;
    padding-top: 90px;
    color: #316dc3;
    font-size: 1.4em;
}

.mitioncol1{
    text-align: center;
    margin: 70px 10px 10px 20px;
}

.mitioncol{
   background-color: rgb(236, 234, 234);
   width: 350px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: left;
   float: left;
   margin: 10px 0px 10px 10px;
   font-weight: bold;
}

.mi{
   color: #316dc3;
   padding-left: 10px;
}


.mitioncol2{
   width: 380px;
   text-align: justify;
   margin: 400px 0px 40px 10px;
}

.mitioncol2 h2{
   color: #316dc3;
}

.mitioncol2 p{
   padding: 20px;
}





/* 
======================
this is images
======================
*/


.imageg{
   width: 100%;
   height: 600px;
   text-align: center;
}

.imageg img{
   width: 170px;
}

.imageg h1{
   padding: 50px 0px 70px 0px;
   color: #316dc3;
}




/* 
======================
this is contect section
======================
*/




.contect{
   width: 100%;
   height: 700px;
   background-color: #25272e;
   color: white;
}

.det{
   color:#a4a4a6;
}
.detail img{
   width: 10px;
}

.detailsec{
   margin-top: 50px;
}

.detail{
   margin: 10px;
}
.dso img{
   width: 30px;
   margin: 10px;
}

.adres{
    padding-top: 30px;
    padding-left: 20px;
}

.useful{
   height: 200px;
}

.useful h2{
   border-bottom: 2px solid blueviolet;
}
.contectus{
   height: 200px;
}

.contectus h2{
   border-bottom: 2px solid blueviolet;
}

/* this is end */

.end{
   width: 100%;
   height: 30px;
   background-color: #316dd9;
   color:#a4a4a6;
   line-height: 30px;
}

.end h4{
   padding-left: 50px;
}

.upside{
   width: 40px;
   position: fixed;
   right: 10px;
   bottom: 10px;
}

}

